.DS_Store
YouTube Timestamps and Summaries.xcodeproj/xcuserdata/
YouTube Timestamps and Summaries/LocalSecrets.plist
YouTube Timestamps and Summaries icon *.png
build/
Store Screenshot*.png
github-pages-root-site/
